<ion-header-bar>
  <h1 class="title">{{teacher_name}}</h1>
  <a class="button button-clear button-positive" href="#/chat/{{my_id}}/{{teacher_id}}/{{teacher_name}}"><i class="icon ion-chatbox-working"></i></a>
</ion-header-bar>
<ion-view title="{{teacher_name}}" id="page13">
    <ion-content padding="false" class="has-header">
        <div id="per-map" data-tap-disabled="true"></div>
        <div class="spacer" style="width: 300px; height: 27px;"></div>
        <div id="markdown5" style="color:#000000;text-align:justify; padding: 10px;">
            <p>You can book upto
                <strong>2 hours</strong> per day. You may work out special arrangements regarding time and date directly with
                <strong>{{teacher_name}}</strong>.</p>
        </div>
        <div class="spacer" style="width: 300px; height: 27px;"></div>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Day</span>
                <select ng-model="p_data.day" required="true">
                    <option ng-repeat="day in days" style="text-transform: capitalize;">{{day | capitalize}}</option>
                </select>
            </label>
            <label class="item item-select" name="1">
                <span class="input-label">Number of Hours</span>
                <select ng-model="p_data.hours" required="true">
                    <option ng-repeat="i in range(1, hours)">{{i}}</option>
                </select>
            </label>
            <div style="padding: 10px;">
              <button  type="submit" id="button4" class="button button-magister button-block" ng-click="to_pay()">Proceed to Payment</button>
              <a id="button5" class="button button-stable button-block" href="#/s_menu/student/dash">Not Now</a>
            </div>
        </form>
    </ion-content>
</ion-view>
